*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:c\Users\user\Desktop\fonts\Poppins-Black;
}
.first-part{
    background-image: url(bg-hero-desktop.svg);
    margin-left:px;
    background-color:#EDFBFE ;
}
.body{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
}
.img-1{
    margin-top: 25px;
    margin-left: 10px;
    width: 8.33%;
}
.p3{
    width: 33.33%;
    justify-content: center;
}
.p1{
    margin-top: 25px;
    border: 5px solid white;
    background-color: white;
    border-radius:47px;
    height: 30px;
    width: 120px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.head{
    margin-top: 150px;
    display: flex;
    margin-left: 20px;
}
.headings{
    font-size: 30px;
}
.p2{
    margin-top: 50px;
    background-color: #FE52BF;
    border: 3px solid #FE52BF;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    color: white;
    text-align: center;
}
.p2:hover{
    cursor: pointer;
    background-color: #40032a;
    /* border-bottom: 5px solid #d07cb1; */
}
p{
   color:hsl(208, 11%, 55%)
} ; 
.first-text{
    margin-top: 10px;
}
.word{
    /* margin-left: 25px; */
    /* display: flex; */
}
.first-text{
    /* width: 50px; */
    font-size: 15px;
}

.img-2{
    /* margin-right: 25px; */
}

.main-bodies{
    display: flex;
    margin: 50px 50px;
    height: 300px;
    border: 10px solid #f9f9f9;
    background-color: white;
    border-radius: 20px;
    /* gap: 50px; */
}
.text{
    width: 100%;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: 20px;
}

.img-3{
    margin-left: 40px;
    margin-top: 20px; ;
}

.mainbody-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 150px;
    position: relative;
    top: 70px;
    margin: 50px 180px;
    border: 8px solid #f9f9f9;
    background-color: white;
    border-radius: 20px;
}
.text-1{
    text-align: center;
    /* width: 50%; */
}
.p21{
    background-color: #FE52BF;
    border: 5px solid #f9f9f9;
    border-radius: 50px;
    width: 50%;
    padding: 10px;
    color: white;
    position: relative;
    left: 60px;
    justify-content: center;
}
.p21:hover{
    background-color: #FF9BDB;
    cursor:pointer;
}

.footer{
    background-color: #00252E;
    width: 100%;
    height: 400px;
}
.wrapper-footer{
    width: 100%;
    height:200px;
    /* padding-top: 20px; */
}
ul{
    flex-wrap: wrap;
    height: 10px;
}
li{
    list-style-type: none;
    position: relative;
    left: 510px;
    bottom: 150px;
}
.img-5{
    margin-top: 30px;
    margin-left: 30px;
    background-color: #f9f9f9;
}
.second-part{
    display: flex;
    margin-top: 20px;
}
.p4{
    width: 35%;
    margin-left:15px;
    color: white;
}
.icon-1{
    margin-left: 25px;
}
.icon-2{
    margin-left: 25px;
    margin-top: 1px;
}

.third-part{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    gap:35px;
    color: white;
}
li{
    padding: 5px;   
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.img-6{
    margin-left: 850px;
    position: relative;
    bottom: 150px;
}
.last{
    position: relative;
    top: 50px;
}
.img-7{
    /* border: 0.5px solid white ; */
    /* border-radius:360px; */
    /* background-color: white; */
    filter: invert(100%);
    cursor: pointer;
    transition: transform 1000ms;
}
.img-7:hover{
    transform: translateY(-5px);
    /* border:2px solid #FE52BF; */
}
.img-8{
    margin-left: 800px;
    position: relative;
    bottom:10px;
    display: flex;
    filter: invert(10%);
    gap: 10px;
    /* color: white; */
}